body {
	font-family: 'Cantarell', serif;
	font-size: 11pt;
	margin: 20pt;
}
h1, h2 {
	margin: 0.15em 0;
}
h2 small, h1 small {
	display: none;
}
h1:hover small, h2:hover small {
	display: inline;
	color: #CCC;
}
h3 {
	margin: 1.3em 0 0.7em 0;
}
ul li {
	list-style-type: none;
	margin-bottom: 5px;
	clear: left;
}
div.options {
	float: right;
}
div.options a.selected {
	font-weight: bold;
}
@media print {
body {
	font-size: 9pt;
}
ul {
	margin: 10pt;
	padding-left: 20px;
}
div.options {
	display: none;
}
}

ul li span {
	display: block;
}
ul li span.when, ul li span.where, ul li span.what {
	float: left;
	width: 9em;

	line-height: 1.8em;

	color: gray;
}
ul li span.title {
	font-size: large;
	font-weight: bold;
	line-height: 18pt;
}
ul li span.details {
	display: inline-block;
}

@page {
  margin: 0.25in 0.375in;
}

